<!-- <app-main></app-main> -->
<!-- <app-header></app-header>
<router-outlet></router-outlet>

<app-footer></app-footer> -->
<!-- 
<app-header *ngIf="!isLoggedIn"></app-header>
<router-outlet *ngIf="isLoggedIn"></router-outlet>
<app-login *ngIf="!isLoggedIn"></app-login> -->
<!-- <app-footer></app-footer> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"
    integrity="sha512-vKMx8UnXk60zUwyUnUPM3HbQo8QfmNx7+ltw8Pm5zLusl1XIfwcxo8DbWCqMGKaWeNxWA8yrx5v3SaVpMvR3CA=="
    crossorigin="anonymous" />
    
<app-header></app-header>
<router-outlet></router-outlet>