<div class="container">
    <div class="row p-5 marg">
        <div class="mx-auto col-md-8 col-lg-6">
            <img class="img-fluid" src="./assets/images/main-page-model.jpg" style="width: 350px;" alt="">
        </div>
        <div class="col-lg-6 mb-0 d-flex align-items-center">
            <div class="text-align-left">
                <h1 class="h1">Вітаємо!</h1>
                <p>
                    Ми - провідне агенство, яке представляє моделей і надає їм можливість працювати з провідними
                    брендами, дизайнерами та журналами.
                    Компанія працює більше десяти років і має велике портфоліо моделей із різним рівнем досвіду.
                </p>
            </div>
        </div>
    </div>
</div>