<div class="container py-5">
    <div class="row  center-models">
        <div class="col-lg-9">
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-inline shop-top-menu pb-3 pt-1">
                        <li class="list-inline-item">
                            <a class="h3 text-dark text-decoration-none mr-3" (click)="showAllEvents()">Всі</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="h3 text-dark text-decoration-none mr-3" (click)="showFutureEvents()">Майбутні</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="h3 text-dark text-decoration-none" (click)="showPastEvents()">Минулі</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="h3 text-dark text-decoration-none" (click)="showTodayEvents()">Сьогодні</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-6 pb-4">
                    <ul class="list-inline shop-top-menu pb-3 pt-1">
                        <li class="list-inline-item">
                            <a class="h3 text-dark text-decoration-none mr-3" (click)="showShowEvents()">Покази</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="h3 text-dark text-decoration-none mr-3" (click)="showPhotoshootEvents()">Фотосесії</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="h3 text-dark text-decoration-none mr-3" (click)="showAllEvents()">Всі</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div *ngIf="this.roleId === 2">
                <div class="mb-2">
                    <button type="menu" class="mx-1 btn btn-success btn-lg" name="submit" value="buy"
                    (click)="redirectToAddEventPage()">Додати захід</button>
                </div>

                <div class="row" *ngIf="events && (filterParameter === 'All' && filterEventTypeParameter === 'All')">
                    <div *ngFor="let event of events">
                        <app-event-card [event]="event" [status]="''" [currentUser]="this.currentUser"></app-event-card>
                    </div>
                </div>

                <div class="row" *ngIf="events && filterParameter === 'Future'">
                    <div *ngFor="let event of filteredFutureEvents">
                        <app-event-card [event]="event" [status]="''" [currentUser]="this.currentUser"></app-event-card>
                    </div>
                </div>

                <div class="row" *ngIf="events && filterParameter === 'Past'">
                    <div *ngFor="let event of filteredPastEvents">
                        <app-event-card [event]="event" [status]="''" [currentUser]="this.currentUser"></app-event-card>
                    </div>
                </div>

                <div class="row" *ngIf="events && filterParameter === 'Today'">
                    <div *ngFor="let event of filteredTodayEvents">
                        <app-event-card [event]="event" [status]="''" [currentUser]="this.currentUser"></app-event-card>
                    </div>
                </div>

                <div class="row" *ngIf="events && filterEventTypeParameter === 'Show'">
                    <div *ngFor="let event of filteredShowEvents">
                        <app-event-card [event]="event" [status]="''" [currentUser]="this.currentUser"></app-event-card>
                    </div>
                </div>

                <div class="row" *ngIf="events && filterEventTypeParameter === 'Photoshoot'">
                    <div *ngFor="let event of filteredPhotoshootEvents">
                        <app-event-card [event]="event" [status]="''" [currentUser]="this.currentUser"></app-event-card>
                    </div>
                </div>
    
            </div>

            <div *ngIf="this.roleId === 1">
                <div class="row">
                    <div class="form-group col-md-6 mb-3">
                        <label for="inputname">Нерозглянуті заходи:</label>
                    </div>
                </div>

                <div *ngIf="eventsToReview!.length > 0" >
                    <div class="row">
                        <div *ngFor="let event of eventsToReview">
                            <app-event-card [event]="event" [status]="'Not reviewed'"
                                [currentUser]="currentUser"></app-event-card>
                        </div>
                    </div>
                </div>

                <div *ngIf="eventsToReview?.length == 0">
                    <div class="row">
                        <div class="form-group col-md-6 mb-3">
                            <label for="inputname">У вас немає заходів для розгляду.</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-6 mb-3">
                        <label for="inputname">Прийняті:</label>
                    </div>
                </div>

                <div *ngIf="approvedEvents!.length > 0 && (filterParameter === 'All' && filterEventTypeParameter === 'All')">
                    <div class="row">
                        <div *ngFor="let event of approvedEvents">
                            <app-event-card [event]="event" [status]="'Accepted'"
                                [currentUser]="currentUser"></app-event-card>
                        </div>
                    </div>
                </div>

                <div *ngIf="filteredApprovedFutureEvents!.length > 0 && filterParameter === 'Future'">
                    <div class="row">
                        <div *ngFor="let event of filteredApprovedFutureEvents">
                            <app-event-card [event]="event" [status]="'Accepted'"
                                [currentUser]="currentUser"></app-event-card>
                        </div>
                    </div>
                </div>

                <div *ngIf="filteredApprovedPastEvents!.length > 0 && filterParameter === 'Past'">
                    <div class="row">
                        <div *ngFor="let event of filteredApprovedPastEvents">
                            <app-event-card [event]="event" [status]="'Accepted'"
                                [currentUser]="currentUser"></app-event-card>
                        </div>
                    </div>
                </div>

                <div *ngIf="filteredApprovedTodayEvents!.length > 0 && filterParameter === 'Today'">
                    <div class="row">
                        <div *ngFor="let event of filteredApprovedTodayEvents">
                            <app-event-card [event]="event" [status]="'Accepted'"
                                [currentUser]="currentUser"></app-event-card>
                        </div>
                    </div>
                </div>

                <div *ngIf="filteredShowEvents!.length > 0 && filterEventTypeParameter === 'Show'">
                    <div class="row">
                        <div *ngFor="let event of filteredShowEvents">
                            <app-event-card [event]="event" [status]="'Accepted'"
                                [currentUser]="currentUser"></app-event-card>
                        </div>
                    </div>
                </div>

                <div *ngIf="filteredPhotoshootEvents!.length > 0 && filterEventTypeParameter === 'Photoshoot'">
                    <div class="row">
                        <div *ngFor="let event of filteredPhotoshootEvents">
                            <app-event-card [event]="event" [status]="'Accepted'"
                                [currentUser]="currentUser"></app-event-card>
                        </div>
                    </div>
                </div>

                <div *ngIf="approvedEvents?.length == 0">
                    <div class="row">
                        <div class="form-group col-md-6 mb-3">
                            <label for="inputname">У вас немає прийнятих заходів.</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>