<div class="container py-5">
    <div class="row  center-models">
        <div class="col-lg-9">
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-inline shop-top-menu pb-3 pt-1">
                        <li class="list-inline-item">
                            <a class="h3 text-dark text-decoration-none mr-3" href="#">Всі</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="h3 text-dark text-decoration-none mr-3" href="#">Майбутні</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="h3 text-dark text-decoration-none" href="#">Минулі</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-6 pb-4">
                    <div class="input-group">
                        <input type="text" class="form-control" id="inputMobileSearch" placeholder="Search ...">
                        <div class="input-group-text">
                            <i class="bi bi-search"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="this.roleId === 2">
                <div class="mb-2">
                    <button type="menu" class="mx-1 btn btn-success btn-lg" name="submit" value="buy"
                    (click)="redirectToAddEventPage()">Додати захід</button>
                </div>
                <div class="row">
                    <div *ngFor="let event of events">
                        <app-event-card [event]="event" [status]="''" [currentUser]="this.currentUser"></app-event-card>
                    </div>
                </div>
            </div>

            <div *ngIf="this.roleId === 1">
                <div class="row">
                    <div class="form-group col-md-6 mb-3">
                        <label for="inputname">Нерозглянуті заходи:</label>
                    </div>
                </div>

                <div *ngIf="eventsToReview!.length > 0">
                    <div class="row">
                        <div *ngFor="let event of eventsToReview">
                            <app-event-card [event]="event" [status]="'Not reviewed'"
                                [currentUser]="currentUser"></app-event-card>
                        </div>
                    </div>
                </div>

                <div *ngIf="eventsToReview?.length == 0">
                    <div class="row">
                        <div class="form-group col-md-6 mb-3">
                            <label for="inputname">У вас немає заходів для розгляду.</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-6 mb-3">
                        <label for="inputname">Прийняті:</label>
                    </div>
                </div>

                <div *ngIf="approvedEvents!.length > 0">
                    <div class="row">
                        <div *ngFor="let event of approvedEvents">
                            <app-event-card [event]="event" [status]="'Accepted'"
                                [currentUser]="currentUser"></app-event-card>
                        </div>
                    </div>
                </div>
                <div *ngIf="approvedEvents?.length == 0">
                    <div class="row">
                        <div class="form-group col-md-6 mb-3">
                            <label for="inputname">У вас немає прийнятих заходів.</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>