<div class="container py-5">
    <div class="row py-5">
        <form class="col-md-9 m-auto" method="post" role="form">
            <div class="col-md-6">
                <ul class="list-inline shop-top-menu pb-3 pt-1">
                    <li class="list-inline-item">
                        <a class="h3 text-dark text-decoration-none mr-3" href="/events"><u>Назад</u></a>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label for="inputname">Опис/Назва</label>
                    <input type="text" class="form-control mt-1" id="name" name="name" placeholder="Name"
                        [(ngModel)]="event.details">
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label for="inputemail">Дата і час</label>
                    <input type="datetime-local" class="form-control mt-1" name="datetime"
                        [(ngModel)]="event.targetDate" [min]="getCurrentDateTime()">
                </div>
            </div>
            <div class="mb-3">
                <label for="inputsubject">Адреса</label>
                <input type="text" class="form-control mt-1" id="subject" name="subject" placeholder="Address"
                    [(ngModel)]="event.address">
            </div>
            <div class="col-md-6 pb-4">
                <label for="inputsubject">Тип</label>
                <div class="d-flex">
                    <select class="form-control" [(ngModel)]="event.eventType" name="selectedType">
                        <option>Показ</option>
                        <option>Фотосесія</option>
                    </select>
                </div>
            </div>
            <div *ngIf="!event.id">
                <div class="row">
                    <div class="col text-end mt-2">
                        <button type="submit" class="btn btn-success btn-lg px-3" (click)="addEvent()">Додати</button>
                    </div>
                </div>
            </div>
            <div *ngIf="event.id">
                <div class="row">
                    <div class="col text-end mt-2">
                        <button type="submit" class="btn btn-success btn-lg px-3"
                            (click)="updateEvent()">Оновити</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>